<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LabelDetailServlet</servlet-name>
        <servlet-class>servlets.LabelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BandDetailServlet</servlet-name>
        <servlet-class>servlets.BandDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDetailServlet</servlet-name>
        <servlet-class>servlets.ItemDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>servlets.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>servlets.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUsersServlet</servlet-name>
        <servlet-class>servlets.AdminUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LabelDetailServlet</servlet-name>
        <url-pattern>/LabelDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BandDetailServlet</servlet-name>
        <url-pattern>/BandDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDetailServlet</servlet-name>
        <url-pattern>/ItemDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/EditCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUsersServlet</servlet-name>
        <url-pattern>/AdminUsersServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
