.hidden {
  display: none;
}
.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}

.cartImage {
    height: 75px;
    width: auto;
}

.cartTableCenter {
    text-align: center; 
    vertical-align: middle;
}